<section id="tile" class="cm-container">
  <h1>Tiles / tuiles</h1>
  <div class="cm-container" style="--gap: 2rem">
    <article class="cm-column cm-tile" style="--width: 6">
      <header class="cm-tile__title">
        <h1>Titre</h1>
      </header>
      <div class="cm-tile__body">
        <p>Contenu</p>
        <div class="cm-tile__actions">
          <button class="cm-btn cm-btn--secondary">Clic</button>
          <button class="cm-btn ">Clic clic</button>
        </div>
      </div>
    </article>
    <article class="cm-column cm-tile" style="--width: 6">
      <header class="cm-tile__title">
        <h1>Titre</h1>
      </header>
      <div class="cm-tile__body">
        <p>Contenu</p>
        <div class="cm-tile__actions">
          <button class="cm-btn cm-btn--secondary">Clic</button>
          <button class="cm-btn ">Clic clic</button>
        </div>
      </div>
    </article>
  </div>
</section>
