<%= content_for :primary do %>
  <div class="TeamEdit">
    <%= render "header_tab_bar" do %>
      <i class="cm-icon-team"></i>
      <%= t("teams.edit.edit") %>
    <% end %>
    <div class="TeamEdit__body">
      <%= render "form", team: @team %>
    </div>
  </div>
<% end %>
