<%= content_for :primary do %>
  <header class="TeamEdit__header">
    <h1 class="TeamEdit__title">
      <%= t(".edit") %>
    </h1>
  </header>
  <div class="TeamEdit__body">
    <%= render "form", team: @team %>
  </div>
<% end %>
