<div class="Page Page__index-team">
  <div class="Block Block__index-team">
    <header class="Teams__header">
      <h1><%= t(".teams") %></h1>
    </header>
    
    <div class="Teams__list">
      <%= render collection: @teams, partial: "team" %>
      <% if @teams.count == 0 %>
        <p><%= t(".no_team") %></p>
      <% end %>
    </div>
    
    <div class="Teams__actions">
      <% if Current.user.admin? %>
        <%= link_to t(".new_team"), new_team_path, class: "fr-btn fr-btn--primary" %>
      <% end %>
    </div>
  </div>
</div>

