<div class="Page Page__new-team">
  <div class="Block Block__new-team">
    <h1><%= t(".new_team") %></h1>
    <%= render partial: "teams/form", locals: { team: @team } %>
    <p class="fr-hint-text">
      <%= t(".create_then_add") %>
    </p>
  </div>  
</div>
