<header class="TeamShow__header">
  <h1 class="TeamShow__title">
    <%= t(".title") %>
  </h1>
</header>
<div class="TeamShow__members-list">
  <%= turbo_frame_tag "team_members" do %>
    <%= render @team.memberships %>
  <% end %>
</div>
