<% sections = %w[btn icon alert tile input layout]  %>
<section class="cm-page UIPage">
  <div class="cm-container cm-container--wide">
    <aside class="cm-column UIPage__toc">
      <ul class="UIPage__toc-list">
        <% sections.each do |section| %>
          <li class="UIPage__toc-item">
            <a href="#<%= section %>" class="UIPage__toc-link"><%= section %></a>
          </li>
        <% end %>
      </ul>
    </aside>
    <div class="cm-column UIPage__examples">
      <% sections.each do |section| %>
        <%= render partial: "static_pages/ui/#{section}" %>
      <% end %>
    </div>
  </section>
</div>