# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore built assets
/public/assets
/app/assets/builds/*
!/app/assets/builds/.keep

# Ignore Node modules
/node_modules

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore dev specific fiels

/doc
.DS_Store
.nova
.yardoc
.vscode

# Ignore Vonage API private key
/config/cm-vonage-private.key
