<%= turbo_frame_tag "next_page" do %>
  <%= render conversations %>
  <% if @has_next_page %>
    <%= turbo_frame_tag "next_page", src: team_conversations_path(@team, show: params[:show], page: @page + 1), loading: :lazy do %>
      <li class="ConversationList__loading"></li>
    <% end %>
  <% end %>
<% end %>
