<div class="Viewer" id="viewer" data-controller="viewer">
  <div id="conversation_sidebar" class="ConversationSidebar">
    <%= turbo_frame_tag "conversation_header", class: "ConversationHeader" do %>
      <%= render partial: "conversations/header" %>
    <% end %>
    
    <ol id="conversations" class="ConversationList">
      <%= render @conversations %>
    </ol>
  </div>
  <%= render partial: "conversation_detail", locals: { conversation: @conversation } %>
</div>
