<div class="Viewer" id="viewer">
  <div id="conversation_master" class="ConversationMaster">
    <%= render partial: "conversation_list_header" %>
    <ol id="conversations" class="ConversationList">
      <%= render @conversations %>
    </ol>
  </div>
  <%= turbo_frame_tag "conversation_detail", class: "ConversationDetail" %>
</div>

<%#= link_to "New conversation", new_conversation_path %>
