<div class="Viewer" id="viewer" data-controller="viewer">
  <div id="conversation_master" class="ConversationMaster">
    <%= render partial: "conversations/header" %>
    <ol id="conversations" class="ConversationList">
      <%= render @conversations %>
    </ol>
  </div>
  <%= render partial: "conversation_detail", locals: { conversation: @conversation } %>
</div>
