<div class="Viewer" id="viewer" data-controller="viewer">
    <%= render partial: "conversations/header" %>
  <div id="conversation_sidebar" class="ConversationSidebar">
    <ol id="conversations" class="ConversationList">
      <%= render @conversations %>
    </ol>
  </div>
  <%= render partial: "conversation_detail", locals: { conversation: @conversation } %>
</div>
