<%= content_for :back do %>
  <%= link_to t(:back), root_path, class: "fr-btn fr-btn--icon-left fr-fi-arrow-left-line" %>
<% end %>
<%= render partial: "menu" %>

<div class="Page Page__user-edit">
  <div class="Block Block__user-edit UserEdit">
    <%= render "form", user: @user %>
  </div>
</div>