<div class="Page Page__user-edit">

  <%= turbo_frame_tag @user do %>
    <% if Current.user == @user %><%= t(".me") %><% end %>
    <%= render "form", { user: @user, team: @team } %>
  <% end %>
</div>
