<div class="Page">
  <div class="Block">
    <h1>Merci de votre inscription.</h1>
    <p>Un lien de confirmation vient de vous être envoyé par email.</p>
    <p>Si ce lien tarde à arriver, contactez <a href="mailto:secretariat@court-message.fr">secretariat@court-message.fr</a>.</p>
  </div>
</div>