<div class="cm-page">
  <div class="Confirmation cm-container">
    <div class="Confirmation__body cm-column">
      <i class="cm-btn cm-icon-checkmark cm-btn--validate"></i>
      <p class="Confirmation__text">
        Votre demande de création de compte a bien été envoyée. Après validation, vous recevrez un email de confirmation.
      </p>
    </div>
  </div>
</div> 
<%= render partial: "footer" %>
