<section class="Contact">
  <%= link_to team_contact_path(@team, contact.id) do %>
    <label><%= contact.name if contact.name?%></label>
    <%= t(".created") %>
    <%= contact.created_at.strftime('%d/%m/%Y') %>
  <% end %>
</section>