<div class="Contact">
  <div class="Contact__info">

    <%= link_to team_contact_path(@team, contact.id) do %>

    <%= info_tag(contact, key: :name,  missing: t(".missing_name")) %> <%= t(".created") %> <%= contact.created_at.strftime('%d/%m/%Y') %>
    <% end %>
  </div>
</div>
