<div class="Contact">
  <%= link_to team_contact_path(@team, contact.id) do %>
    <span class="Contact__name">
      <%= contact.name %>
    </span>
    <span class="Contact__created-at">
      <%= t(".created") %>
      <%= contact.created_at.strftime('%d/%m/%Y') %>
    </span>
  <% end %>
</div>