<div class="Contact">
  <div class="Contact__info">   
    <%= info_tag(contact, key: :name,  missing: t(".missing_name")) %>
    <%= info_tag(contact, key: :phone, missing: t(".missing_phone")) %>
    <%= info_tag(contact, key: :email, missing: t(".missing_email")) %>
  </div>
</div>
