<%= turbo_frame_tag "contacts" do %>
  <div class="Page Page__index-contact">
    <div class="Block Block__index-contact">
      <%= link_to new_team_contact_path(@team),
        class: "cm-btn cm-btn--sm cm-btn--tertiary",
        data: { turbo_frame: "contacts" } do %>
        <i class="cm-icon-person-add cm-icon--lg"></i>
        <%= t(".new_contact") %>
      <% end %>
        <%= render partial: @contacts, team: @team %> 
    </div>
  </div>
<% end %> 
