<%= content_for :primary do %>
  <div class="ContactPage ContactNew">
    <%= render "header_tab_bar" do %>
      <i class="cm-icon-contact"></i>
      <%= t("contacts.new.new_contact") %>
    <% end %>
    <div class="ContactPage__body">
      <%= render "form", contact: @contact %>
    </div>
  </div>
<% end %>
