<div class="Page Page__new-contact">
  <div class="Block Block__new-contact">
    <h1><%= t(".new_contact") %></h1>
    <%= render partial: "contacts/form", locals: { contact: @contact } %>
  </div>
</div>