<%= content_for :primary do %>
  <header class="ContactNew__header">
    <h1 class="ContactNew__title">
      <%= t(".new_contact") %>
    </h1>
  </header>
    <%= render "form", contact: @contact %>
<% end %>
