<div class="Page Page__show-contact">
  <div class="Block Block__show-contact">
    <%= turbo_frame_tag @contact, class: "ContactDetail" do %>
      <%= render @contact %>
      <ul class="ContactDetail__actions fr-btns-group fr-btns-group--icon-left">
        <li>
          <%= link_to t(".edit"), edit_contact_path(@contact), class: "ContactDetail__edit-btn fr-btn fr-btn--sm fr-btn--icon-left fr-icon-pencil-fill" %>
        </li>
        <li>
          <%= button_to t(".destroy"), @contact, method: :delete, class: "ContactDetail__destroy-btn fr-btn fr-btn--sm fr-btn--secondary", data: { turbo_confirm: t(".confirm_destroy")} %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
