<section id="btn" class="cm-container">
  <h1>Button</h1>
  <div class="UIList">
    <div class="UIList__sublist">
      <a href="javascript:void(0)" class="cm-btn">Bouton principal</a>
      <a href="javascript:void(0)" class="cm-btn cm-btn--icon-left cm-icon-swap-structure">Bouton principal à icône</a>
      <a href="javascript:void(0)" class="cm-btn cm-btn--fat">Bouton principal fat</a>
    </div>
    <div class="UIList__sublist">
      <a href="javascript:void(0)" class="cm-btn cm-btn--secondary">Bouton secondaire</a>
      <a href="javascript:void(0)" class="cm-btn cm-btn--secondary cm-btn--icon-left cm-icon-bin">Bouton secondaire à icône</a>
    </div>
    <div class="UIList__sublist">
      <a href="javascript:void(0)" class="cm-btn cm-btn--tertiary">Bouton tertiaire</a>
      <a href="javascript:void(0)" class="cm-btn cm-btn--tertiary cm-btn--icon-left cm-icon-star">Bouton tertiaire à icône</a>
    </div>
    <div class="UIList__sublist">
      <a href="javascript:void(0)" class="cm-btn cm-btn--validate">Bouton valider</a>
      <a href="javascript:void(0)" class="cm-btn cm-btn--validate cm-btn--icon-left cm-icon-checkmark">Bouton valider à icône</a>
    </div>
    <div class="UIList__sublist">
      <a href="javascript:void(0)" class="cm-btn cm-btn--cancel">Bouton annuler</a>
      <a href="javascript:void(0)" class="cm-btn cm-btn--cancel cm-btn--icon-left cm-icon-cross">Bouton annuler à icône</a>
    </div>
    <div class="UIList__sublist">
      <a href="javascript:void(0)" class="cm-btn cm-btn--link">Bouton lien</a>
      <a href="javascript:void(0)" class="cm-btn cm-btn--link cm-btn--icon-left cm-icon-magnifying-glass">Bouton lien à icône</a>
    </div>
    <div class="UIList__sublist">
      <a href="javascript:void(0)" class="cm-btn cm-btn--caption cm-icon-picture">Bouton à légende</a>
      <a href="javascript:void(0)" class="cm-btn cm-btn--caption cm-icon-copy">Bouton à légende</a>
    </div>
  </div>
</section>
