<section id="input" class="cm-container">
  <h1>Inputs / champs de texte</h1>
  <div class="UIList">
    <div class="cm-fieldset__element">
      <label class="cm-label">Champ en débord</label>
      <input type="text" class="cm-input cm-input--overhang" placeholder="Placeholder">
    </div>

    <div class="cm-fieldset__element">
      <label class="cm-label">Champ sans débord</label>
      <input type="text" class="cm-input" placeholder="Placeholder">
    </div>

    <div class="cm-fieldset__element">
      <label class="cm-label">Champ bordures</label>
      <input type="text" class="cm-input cm-input--line" placeholder="Placeholder">
    </div>
  </div>
</section>
