<section id="layout" class="cm-container">
  <h1>Columns</h1>
  <div class="UIList">
    <h2>Douze colonnes égales, sans gouttière</h2>
    <article class="cm-container">
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
    </article>

    <h2>Douze colonnes égales</h2>
    <article class="cm-container" style="--gap: 1rem">
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
    </article>

    <h2>Colonnes de largeurs différentes</h2>
    <article class="cm-container" style="--gap: 1rem">
      <div class="cm-column UI__rect" style="--width: 6">6</div>
      <div class="cm-column UI__rect" style="--width: 3">3</div>
      <div class="cm-column UI__rect" style="--width: 2">2</div>
      <div class="cm-column UI__rect" style="--width: 1">1</div>
    </article>

    <h2>Colonnes de largeurs différentes sur petit écran</h2>
    <article class="cm-container" style="--gap: 1rem">
      <div class="cm-column UI__rect" style="--width-small: 12; --width-mid: 6">sm-12, 6</div>
      <div class="cm-column UI__rect" style="--width-small: 12; --width-mid: 3">sm-12, 3</div>
      <div class="cm-column UI__rect" style="--width-small: 6; --width-mid: 2">sm-6, 2</div>
      <div class="cm-column UI__rect" style="--width-small: 6; --width-mid: 1">sm-6, 1</div>
    </article>
  </div>
</section>
