<div class="cm-page">
  <div class="Errors cm-container">
    <div class="Errors__body cm-column">
      <%= image_tag "cm-logo--small.svg", class: "SiteIntro__logo",  alt: t(".logo-alt") %>
      <h2>403 - Accès refusé</h2>
      <p class="Errors__text">
        Vous n'avez pas les autorisations nécessaires pour accéder à cette page<br/>
        Si vous pensez que c'est une erreur, veuillez contacter l'administrateur du site.
      </p>
    </div>
  </div>
</div> 
<%= render partial: "footer" %>
