<div class="cm-page">
  <div class="Errors cm-container">
    <div class="Errors__body cm-column">
      <%= image_tag "cm-logo--small.svg", class: "SiteIntro__logo",  alt: t(".logo-alt") %>
      <h2>500 - Erreur interne du serveur</h2>
      <p class="Errors__text">
        Une erreur inattendue s'est produite sur le serveur.<br/>
        Nous nous excusons pour le désagrément. Veuillez réessayer plus tard.
      </p>
    </div>
  </div>
</div> 
<%= render partial: "footer" %>
