<div class="cm-page">
  <div class="Errors cm-container">
    <div class="Errors__body cm-column">
      <%= image_tag "cm-logo--small.svg", class: "SiteIntro__logo",  alt: t(".logo-alt") %>
      <h2>404 - Page non trouvée</h2>
      <p class="Errors__text">
        La page que vous recherchez est introuvable.<br/>
        Elle a peut-être été supprimée ou l'URL est incorrecte.
      </p>
    </div>
  </div>
</div> 
<%= render partial: "footer" %>
