<div class="cm-page">
  <div class="Errors cm-container">
    <div class="Errors__body cm-column">
      <%= image_tag "cm-logo--small.svg", class: "SiteIntro__logo",  alt: t(".logo-alt") %>
      <h2>422 - Entité non traitable</h2>
      <p class="Errors__text">
        La requête a été comprise, mais elle ne peut pas être traitée en raison d'erreurs de validation.<br/>
        Veuillez vérifier les données soumises et réessayer.
      </p>
    </div>
  </div>
</div> 
<%= render partial: "footer" %>
