.cm-input-search {
  height: 2.75rem;
  border-radius: calc(2.75rem / 2);
  border: 1px solid var(--input-border);
  color: var(--input-text);
  padding: 0 1rem;
  font-size: 1rem;
  &::placeholder {
    color: var(--input-text);
  }
}