/* #region Primary */

.cm-btn {
  background-color: var(--action-bg);
  color: var(--action-text);
  border-radius: 20rem;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;

  font: var(--font-medium-bold);
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;

  --hover: var(--action-bg);
  --active: var(--action-active);
  --hover-shadow: var(--btn-hover);
}
.cm-btn:hover {
  --hover-tint: var(--hover);
  box-shadow: var(--hover-shadow);
}

.cm-btn--fat {
  min-height: 3rem;
}

.cm-btn--link[href] {
  background-color: transparent;
  background-image: var(--underline-img), var(--underline-img);

  background-size: 0px 2px, 100% 1px;
  min-height: 0;
  height: 1.5rem;
  margin: .75rem 0;
  padding: 0;
  border-radius: 0;
  border: none;

  --hover: transparent;
  --hover-shadow: none;
  color: var(--action-secondary-text);
  font: var(--font-body);
}
.cm-btn--link[href]:hover {
  background-size: 100% 2px, 100% 1px;
}
.cm-btn--link[href]:focus,
.cm-btn--link[href]:active {
  background-color: transparent;
  background-image: var(--underline-img), var(--underline-img);
}

// TODO
.cm-btn:disabled,
a.cm-btn:not([href]) {
  color: var(--text-disabled-grey);
  background-color: var(--background-disabled-grey);

  --idle: transparent;
  --hover: var(--background-disabled-grey-hover);
  --active: var(--background-disabled-grey-active);
}

/* #endregion */

/* #region Icons */

// Hack to have icons work on <input type="submit">, which
// cannot have a before or after.
// The <input> is wrapped in a button span or div.
.cm-btn > input[type="submit"] {
  font: inherit;
  color: inherit;
  background: inherit;
  width: 100%;
}

.cm-btn::before,
.cm-btn::after {
  display: block;
}

.cm-btn[class^=cm-icon-]:not([class*=cm-btn--icon-]),
.cm-btn[class*=" cm-icon-"]:not([class*=cm-btn--icon-]) {
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.cm-btn[class^=cm-icon-]:not([class*=cm-btn--icon-])::before,
.cm-btn[class*=" cm-icon-"]:not([class*=cm-btn--icon-])::before {
    --icon-size: 1.5rem;
    margin-left: 0;
    margin-right: 0.5rem;

}

.cm-btn--icon-left[class^=cm-icon-],
.cm-btn--icon-left[class*=" cm-icon-"] {
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.cm-btn--icon-left[class^=cm-icon-]::before,
.cm-btn--icon-left[class*=" cm-icon-"]::before {
  --icon-size: 1rem;
  margin-left: -0.125rem;
  margin-right: 0.5rem;
}
/* #endregion */

/* #region Sizes */

.cm-btn--sm {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
}


.cm-btn--sm[class^=cm-icon-]:not([class*=cm-btn--icon-]),
.cm-btn--sm[class*=" cm-icon-"]:not([class*=cm-btn--icon-]) {
  overflow: hidden;
  white-space: nowrap;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.cm-btn--sm[class^=cm-icon-]:not([class*=cm-btn--icon-])::before,
.cm-btn--sm[class*=" cm-icon-"]:not([class*=cm-btn--icon-])::before {
  --icon-size: 1rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.cm-btn--sm.cm-btn--icon-left[class^=cm-icon-],
.cm-btn--sm.cm-btn--icon-left[class*=" cm-icon-"] {
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.cm-btn--sm.cm-btn--icon-left[class^=cm-icon-]::before,
.cm-btn--sm.cm-btn--icon-left[class*=" cm-icon-"]::before {
  --icon-size: 1rem;
  margin-left: -0.125rem;
  margin-right: 0.5rem;
}

.cm-btn--lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
  min-height: 3rem;
  padding: 0.5rem 1.5rem;
}

.cm-btn--lg[class^=cm-icon-]:not([class*=cm-btn--icon-]),
.cm-btn--lg[class*=" cm-icon-"]:not([class*=cm-btn--icon-]) {
  overflow: hidden;
  white-space: nowrap;
  max-width: 3rem;
  max-height: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.cm-btn--lg[class^=cm-icon-]:not([class*=cm-btn--icon-])::before,
.cm-btn--lg[class*=" cm-icon-"]:not([class*=cm-btn--icon-])::before {
  --icon-size: 2rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.cm-btn--lg.cm-btn--icon-left[class^=cm-icon-],
.cm-btn--lg.cm-btn--icon-left[class*=" cm-icon-"],
.cm-btn--lg.cm-btn--icon-left[class^=cm-fi-],
.cm-btn--lg.cm-btn--icon-left[class*=" cm-fi-"] {
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.cm-btn--lg.cm-btn--icon-left[class^=cm-icon-]::before,
.cm-btn--lg.cm-btn--icon-left[class*=" cm-icon-"]::before,
.cm-btn--lg.cm-btn--icon-left[class^=cm-fi-]::before,
.cm-btn--lg.cm-btn--icon-left[class*=" cm-fi-"]::before {
  --icon-size: 1.5rem;
  margin-left: -0.1875rem;
  margin-right: 0.5rem;
}

/* #endregion */

/* #region Groups */

.cm-btns-group {
  list-style-type: none;

  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.cm-btns-group > li {
  width: 100%;
  max-width: 100%;
}

.cm-btns-group .cm-btn {
  width: calc(100% - 1rem);
  margin: 0 0.5rem 1rem;
  justify-content: center;
}

.cm-btns-group--inline .cm-btn {
  width: auto;
  max-width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.cm-btns-group--inline > li {
  display: inline-flex;
  max-width: 100%;
  width: auto;
}

.cm-btns-group--inline.cm-btns-group--right.cm-btns-group--inline-reverse {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.cm-btns-group--left,
.cm-btns-group--left li {
  justify-content: flex-start;
  text-align: left;
}

.cm-btns-group--right,
.cm-btns-group--right li {
  justify-content: flex-end;
  text-align: right;
}

.cm-btns-group--center,
.cm-btns-group--center li {
  justify-content: center;
  text-align: center;
}

.cm-btns-group--between,
.cm-btns-group--between li {
  justify-content: space-between;
  text-align: center;
}

.cm-btns-group--equisized {
  --equisized-width: auto;
}

.cm-btns-group--equisized .cm-btn {
  justify-content: center;
  width: var(--equisized-width);
}

.cm-btns-group--sm .cm-btn:not([class^=cm-icon-]):not([class*=" cm-icon-"]) {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
}

.cm-btns-group--sm:not([class^=cm-btns-group--icon-]):not([class*=" cm-btns-group--icon-"]) .cm-btn[class^=cm-icon-],
.cm-btns-group--sm:not([class^=cm-btns-group--icon-]):not([class*=" cm-btns-group--icon-"]) .cm-btn[class*=" cm-icon-"] {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: flex-start;
}

.cm-btns-group--sm:not([class^=cm-btns-group--icon-]):not([class*=" cm-btns-group--icon-"]) .cm-btn[class^=cm-icon-]::before,
.cm-btns-group--sm:not([class^=cm-btns-group--icon-]):not([class*=" cm-btns-group--icon-"]) .cm-btn[class*=" cm-icon-"]::before {
  --icon-size: 1rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.cm-btns-group--sm.cm-btns-group--icon-left .cm-btn[class^=cm-icon-],
.cm-btns-group--sm.cm-btns-group--icon-left .cm-btn[class*=" cm-icon-"] {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.cm-btns-group--sm.cm-btns-group--icon-left .cm-btn[class^=cm-icon-]::before,
.cm-btns-group--sm.cm-btns-group--icon-left .cm-btn[class*=" cm-icon-"]::before {
  --icon-size: 1rem;
  margin-left: -0.125rem;
  margin-right: 0.5rem;
}

.cm-btns-group--sm.cm-btns-group--icon-right .cm-btn[class^=cm-icon-],
.cm-btns-group--sm.cm-btns-group--icon-right .cm-btn[class*=" cm-icon-"] {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.cm-btns-group--sm.cm-btns-group--icon-right .cm-btn[class^=cm-icon-]::after,
.cm-btns-group--sm.cm-btns-group--icon-right .cm-btn[class*=" cm-icon-"]::after {
  content: "";

  --icon-size: 1rem;
  margin-right: -0.125rem;
  margin-left: 0.5rem;
}

.cm-btns-group--sm.cm-btns-group--icon-right .cm-btn[class^=cm-icon-]::before,
.cm-btns-group--sm.cm-btns-group--icon-right .cm-btn[class*=" cm-icon-"]::before {
  content: none;
}

.cm-btns-group:not(.cm-btns-group--sm):not(.cm-btns-group--lg) .cm-btn:not([class^=cm-icon-]):not([class*=" cm-icon-"]):not(.cm-btn--fat) {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
}

.cm-btns-group:not(.cm-btns-group--sm):not(.cm-btns-group--lg):not([class^=cm-btns-group--icon-]):not([class*=" cm-btns-group--icon-"]) .cm-btn[class^=cm-icon-],
.cm-btns-group:not(.cm-btns-group--sm):not(.cm-btns-group--lg):not([class^=cm-btns-group--icon-]):not([class*=" cm-btns-group--icon-"]) .cm-btn[class*=" cm-icon-"] {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: flex-start;
}

.cm-btns-group:not(.cm-btns-group--sm):not(.cm-btns-group--lg):not([class^=cm-btns-group--icon-]):not([class*=" cm-btns-group--icon-"]) .cm-btn[class^=cm-icon-]::before,
.cm-btns-group:not(.cm-btns-group--sm):not(.cm-btns-group--lg):not([class^=cm-btns-group--icon-]):not([class*=" cm-btns-group--icon-"]) .cm-btn[class*=" cm-icon-"]::before {
  --icon-size: 1.5rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.cm-btns-group:not(.cm-btns-group--sm):not(.cm-btns-group--lg).cm-btns-group--icon-left .cm-btn[class^=cm-icon-],
.cm-btns-group:not(.cm-btns-group--sm):not(.cm-btns-group--lg).cm-btns-group--icon-left .cm-btn[class*=" cm-icon-"] {
  font-size: 1rem;
  line-height: 1.5rem;
  // min-height: 2.5rem;
  padding: 0.5rem 1rem;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.cm-btns-group:not(.cm-btns-group--sm):not(.cm-btns-group--lg).cm-btns-group--icon-left .cm-btn[class^=cm-icon-]::before,
.cm-btns-group:not(.cm-btns-group--sm):not(.cm-btns-group--lg).cm-btns-group--icon-left .cm-btn[class*=" cm-icon-"]::before {
  --icon-size: 1rem;
  margin-left: -0.125rem;
  margin-right: 0.5rem;
}

.cm-btns-group:not(.cm-btns-group--sm):not(.cm-btns-group--lg).cm-btns-group--icon-right .cm-btn[class^=cm-icon-],
.cm-btns-group:not(.cm-btns-group--sm):not(.cm-btns-group--lg).cm-btns-group--icon-right .cm-btn[class*=" cm-icon-"] {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.cm-btns-group:not(.cm-btns-group--sm):not(.cm-btns-group--lg).cm-btns-group--icon-right .cm-btn[class^=cm-icon-]::after,
.cm-btns-group:not(.cm-btns-group--sm):not(.cm-btns-group--lg).cm-btns-group--icon-right .cm-btn[class*=" cm-icon-"]::after {
  content: "";

  --icon-size: 1rem;
  margin-right: -0.125rem;
  margin-left: 0.5rem;
}

.cm-btns-group:not(.cm-btns-group--sm):not(.cm-btns-group--lg).cm-btns-group--icon-right .cm-btn[class^=cm-icon-]::before,
.cm-btns-group:not(.cm-btns-group--sm):not(.cm-btns-group--lg).cm-btns-group--icon-right .cm-btn[class*=" cm-icon-"]::before {
  content: none;
}

.cm-btns-group--lg .cm-btn:not([class^=cm-icon-]):not([class*=" cm-icon-"]) {
  font-size: 1.125rem;
  line-height: 1.75rem;
  min-height: 3rem;
  padding: 0.5rem 1.5rem;
}

.cm-btns-group--lg:not([class^=cm-btns-group--icon-]):not([class*=" cm-btns-group--icon-"]) .cm-btn[class^=cm-icon-],
.cm-btns-group--lg:not([class^=cm-btns-group--icon-]):not([class*=" cm-btns-group--icon-"]) .cm-btn[class*=" cm-icon-"] {
  font-size: 1.125rem;
  line-height: 1.75rem;
  min-height: 3rem;
  padding: 0.5rem 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 3rem;
  max-height: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: flex-start;
}

.cm-btns-group--lg:not([class^=cm-btns-group--icon-]):not([class*=" cm-btns-group--icon-"]) .cm-btn[class^=cm-icon-]::before,
.cm-btns-group--lg:not([class^=cm-btns-group--icon-]):not([class*=" cm-btns-group--icon-"]) .cm-btn[class*=" cm-icon-"]::before {
  --icon-size: 2rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

.cm-btns-group--lg.cm-btns-group--icon-left .cm-btn[class^=cm-icon-],
.cm-btns-group--lg.cm-btns-group--icon-left .cm-btn[class*=" cm-icon-"] {
  font-size: 1.125rem;
  line-height: 1.75rem;
  min-height: 3rem;
  padding: 0.5rem 1.5rem;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.cm-btns-group--lg.cm-btns-group--icon-left .cm-btn[class^=cm-icon-]::before,
.cm-btns-group--lg.cm-btns-group--icon-left .cm-btn[class*=" cm-icon-"]::before {
  --icon-size: 1.5rem;
  margin-left: -0.1875rem;
  margin-right: 0.5rem;
}

.cm-btns-group--lg.cm-btns-group--icon-right .cm-btn[class^=cm-icon-],
.cm-btns-group--lg.cm-btns-group--icon-right .cm-btn[class*=" cm-icon-"] {
  font-size: 1.125rem;
  line-height: 1.75rem;
  min-height: 3rem;
  padding: 0.5rem 1.5rem;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.cm-btns-group--lg.cm-btns-group--icon-right .cm-btn[class^=cm-icon-]::after,
.cm-btns-group--lg.cm-btns-group--icon-right .cm-btn[class*=" cm-icon-"]::after {
  content: "";

  --icon-size: 1.5rem;
  margin-right: -0.1875rem;
  margin-left: 0.5rem;
}

.cm-btns-group--lg.cm-btns-group--icon-right .cm-btn[class^=cm-icon-]::before,
.cm-btns-group--lg.cm-btns-group--icon-right .cm-btn[class*=" cm-icon-"]::before {
  content: none;
}

.cm-fieldset__element > .cm-btns-group {
  margin-bottom: -1rem;
}

/* #endregion */

/* #region Caption */

.cm-btn.cm-btn--caption[class^=cm-icon-],
.cm-btn.cm-btn--caption[class*=cm-icon-] {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
  background-color: transparent;
  font: var(--font-small);
  color: var(--text-primary);

  --hover-shadow: none;
  --hover: var(--text-primary);

  :checked + &,
  &[class$=--active],
  &[class*=--active],
  &:hover,
  &:focus,
  &:active {
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% 3px;
    background-image: var(--underline-img);
  }
}

// background-image: var(--underline-img), var(--underline-img);
// background-position: var(--underline-x) 100%, var(--underline-x) calc(100% - var(--underline-thickness));
// background-repeat: no-repeat, no-repeat;
// transition: background-size 0s;
// background-size: var(--underline-hover-width) calc(var(--underline-thickness) * 2), var(--underline-idle-width) var(--underline-thickness);
// }

.cm-btn--caption[class^=cm-icon-]::before,
.cm-btn--caption[class*=cm-icon-]::before,
.cm-btn--caption[class^=cm-icon-]::after,
.cm-btn--caption[class*=cm-icon-]::after {
  display: block;
}

/* #endregion */

/* #region Secondary */

// TODO
.cm-btn--secondary {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--action-border);
  color: var(--action-secondary-text);
  --hover: var(--action-secondary-hover);
  --active: var(--action-secondary-active);
  --hover-shadow: inset 0 0 0 1px var(--action-border), var(--btn-hover);
}
.cm-btn--secondary[href]:hover,
.cm-btn--secondary:hover {
  --hover-tint: var(--hover);
}
.cm-btn--secondary:focus,
.cm-btn--secondary:active,
.cm-btn--secondary[href]:focus,
.cm-btn--secondary[href]:active {
  --active-tint: var(--active);
}

// TODO
.cm-btn--secondary:disabled,
a.cm-btn--secondary:not([href]) {
  color: var(--text-disabled-grey);
  box-shadow: inset 0 0 0 1px var(--border-disabled-grey);
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
}

/* #endregion */

/* #region Tertiary */

// TODO
.cm-btn--tertiary {
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
  color: var(--text-action-high-blue-france);
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
}

.cm-btn--tertiary:disabled,
a.cm-btn--tertiary:not([href]) {
  color: var(--text-disabled-grey);
  box-shadow: inset 0 0 0 1px var(--border-disabled-grey);
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
}

// TODO
.cm-btn--tertiary-no-outline,
.cm-btn--close {
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
  color: var(--text-action-high-blue-france);
}

// TODO
.cm-btn--tertiary-no-outline:disabled,
a.cm-btn--tertiary-no-outline:not([href]),
a.cm-btn--close:not([href]),
.cm-btn--close:disabled {
  color: var(--text-disabled-grey);
  background-color: transparent;

  --hover: inherit;
  --active: inherit;
}

/* #endregion */

/* #region Validate */

.cm-btn--validate {
  background-color: var(--action-validate-bg);
  box-shadow: inset 0 0 0 1px var(--action-validate-border);
  color: var(--action-validate-text);
  --hover: var(--action-validate-hover);
  --active: var(--action-validate-active);
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
}

/* #endregion */

/* #region Cancel */

.cm-btn--cancel {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--action-cancel-bg);
  color: var(--action-cancel-text);
  --hover: inherit;
  --active: var(--action-cancel-active);
  --hover-shadow: inset 0 0 0 1px var(--action-cancel-hover), var(--btn-hover);
}

/* #endregion */

/* #region Close */

.cm-btn--close {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  overflow: initial;
  max-width: 100%;
  max-height: none;
  display: flex;
  margin-left: auto;
  margin-right: -1rem;
}

.cm-btn--close::after {
  --icon-size: 1rem;
  margin-right: -0.125rem;
  margin-left: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: image-url("icons/cross.svg");
  mask-image: image-url("icons/cross.svg");
  content: "";
}

.cm-btn--close::before {
  content: none;
}

/* #endregion */