a,
button,
input,
input[type=checkbox] + label::before,
input[type=radio] + label::before,
input[type=button],
input[type=image],
input[type=reset],
input[type=submit],
select,
textarea,
[tabindex],
video[controls],
audio[controls],
[contenteditable]:not([contenteditable=false]),
details,
details > summary:first-of-type {
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: var(--focus-ring);
}

a:focus,
button:focus,
input:focus,
input[type=checkbox]:focus + label::before,
input[type=radio]:focus + label::before,
input[type=button]:focus,
input[type=image]:focus,
input[type=reset]:focus,
input[type=submit]:focus,
select:focus,
textarea:focus,
[tabindex]:focus,
video:focus[controls],
audio:focus[controls],
[contenteditable]:not([contenteditable=false]):focus,
details:focus,
details > summary:first-of-type:focus {
  outline-style: solid;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible),
input:focus:not(:focus-visible),
input[type=checkbox]:focus:not(:focus-visible) + label::before,
input[type=radio]:focus:not(:focus-visible) + label::before,
input[type=button]:focus:not(:focus-visible),
input[type=image]:focus:not(:focus-visible),
input[type=reset]:focus:not(:focus-visible),
input[type=submit]:focus:not(:focus-visible),
select:focus:not(:focus-visible),
textarea:focus:not(:focus-visible),
[tabindex]:focus:not(:focus-visible),
video:focus:not(:focus-visible)[controls],
audio:focus:not(:focus-visible)[controls],
[contenteditable]:not([contenteditable=false]):focus:not(:focus-visible),
details:focus:not(:focus-visible),
details > summary:first-of-type:focus:not(:focus-visible) {
  outline-style: none;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
input[type=checkbox]:focus-visible + label::before,
input[type=radio]:focus-visible + label::before,
input[type=button]:focus-visible,
input[type=image]:focus-visible,
input[type=reset]:focus-visible,
input[type=submit]:focus-visible,
select:focus-visible,
textarea:focus-visible,
[tabindex]:focus-visible,
video:focus-visible[controls],
audio:focus-visible[controls],
[contenteditable]:not([contenteditable=false]):focus-visible,
details:focus-visible,
details > summary:first-of-type:focus-visible {
  outline-style: solid;
}