@import "variables";

@media screen and (min-width: $width-large) {
  .cm-menu.ConversationSidebar__user-menu {
    display: none;
  }
}

.cm-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--list-bg);
  height: -webkit-fill-available;
}

.cm-menu-item {
  padding: 1.5rem;
  background-color: var(--menu-item-bg);
  list-style: none;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.cm-menu-item[href],
button.cm-menu-item {
  --hover-tint: var(--menu-item-active);

  background-position-x: 1.5rem;
  background-position-y: 100%;
  background-size: var(--underline-hover-width) calc(var(--underline-thickness) * 2), calc(100% - 3rem) var(--underline-thickness);

  &:hover,
  &:active {
    --underline-hover-width: 0;
  }
}

button.cm-menu-item {
  width: 100%;
  text-align: left;
  font-size: inherit;
}

.cm-menu-item--active {
  background-color: var(--menu-item-active);
}