/*!
 * Adapted from:
 * DSFR v1.10.0, under MIT license
 */
@charset "UTF-8";
@import "variables";

/* ¯¯¯¯¯¯¯¯¯ *\
  MODAL
\* ˍˍˍˍˍˍˍˍˍ */
.cm-modal {
  border: none;
  color: inherit;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(22, 22, 22, 0.64);

  --ground: 2000;
  z-index: 1750;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s, visibility 0.3s;

  /**
  * Modifier pour fixer la modale en haut en mobile (par defaut en bas)
  */
}

.cm-modal > .cm-container {
  pointer-events: none;
}

.cm-modal:focus {
  outline: none;
}

.cm-modal::before {
  content: "";
  display: block;
  width: 0;
  height: 2rem;
  flex: 1 0 2rem;
}

.cm-modal::after {
  content: none;
  display: block;
  width: 0;
  height: 2rem;
  flex: 1 0 2rem;
}

.cm-modal--top::before {
  content: none;
}

.cm-modal--top::after {
  content: "";
}

.cm-modal--opened {
  visibility: inherit;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s, visibility 0.3s;
}

.cm-modal__body {
  --modal-max-height: calc(100vh - 2rem);
  pointer-events: all;
  overflow-y: auto;
  flex: 1 1 auto;
  max-height: var(--modal-max-height);
  z-index: calc(var(--ground) + 2000);
  background-color: var(--modal-bg);

  --idle: transparent;
  --hover: var(--color-dark5);
  --active: var(--color-dark4);
  filter: drop-shadow(var(--shadow1));
}

.cm-modal__header {
  flex: auto 0 0;
  display: flex;
  align-items: center;
  padding: 1rem 1rem 0.5rem;
}

.cm-modal__content {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 3.5rem;
}

.cm-modal__footer {
  flex: auto 0 0;
  display: flex;
  padding: 1rem;
  margin-top: -2.5rem;
  position: sticky;
  bottom: 0;
  transition: box-shadow 0.3s;
  background-color: var(--color-dark3);

  --idle: transparent;
  --hover: var(--color-dark5);
  --active: var(--color-dark4);
}

.cm-modal__footer .cm-btns-group {
  margin-bottom: -1rem;
  width: calc(100% + 1rem);
}

.cm-modal__title {
  --title-spacing: 0 0 1rem 0;
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: var(--text-secondary);
}

.cm-modal__title[class^=cm-icon-],
.cm-modal__title[class*=" cm-icon-"] {
  margin-right: 0.5rem;
}

.cm-modal__body.cm-scroll-divider .cm-modal__footer {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-image: linear-gradient(0deg, var(--page-border), var(--page-border));
}
@media (min-width: $width-small) {
}
@media (min-width: $width-mid) {
  .cm-modal {
    padding-right: var(--scrollbar-width);
  }

  .cm-modal--top::before {
    content: "";
  }

  .cm-modal::before {
    width: 0;
    height: 10vh;
    flex: 1 0 10vh;
  }

  .cm-modal::after {
    content: "";
    width: 0;
    height: 10vh;
    flex: 1 0 10vh;
  }

  .cm-modal__body {
    max-height: 80vh !important;
  }

  .cm-modal__header {
    padding: 1rem 2rem;
  }

  .cm-modal__content {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 4rem;
  }

  .cm-modal__footer {
    padding: 2rem;
    margin-top: -3rem;
  }

  .cm-modal__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: $width-large) {
}
@media (min-width: $width-huge) {
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .cm-modal__body {
    z-index: 2000;
    background-color: #fff;
  }

  .cm-modal__title {
    color: #161616;
  }

  .cm-modal__footer {
    background-color: #fff;
  }

  .cm-modal__body.cm-scroll-divider .cm-modal__footer {
    background-image: linear-gradient(0deg, #ddd, #ddd);
  }
}
