@import "variables";

.Confirmation {
  height: calc(100vh - 8.5rem * 2);
  justify-content: center;
  align-items: center;
}

.Confirmation__body {
  --width: 8;
  text-align: center;
}

.Confirmation__text {
  padding-top: 1.5rem;
  font: var(--font-message);
}

@media screen and (min-width: $width-mid) {
  .Confirmation__body {
    text-align: left;
    --width: 6;
  }
}
