.ContactDetail {
  flex-direction: column;
  justify-content: space-between;
}

.Contact__info {
  margin-bottom: 1rem;
}

.Contact__name {
  font-weight: bold;
}

.Contact__info [class*="--missing"] {
  font-style: italic;
}

.ContactDetail__actions {
  
}