.ContactDetail {
  flex-direction: column;
  justify-content: space-between;
}

.ContactSearch {
  height: var(--size-tab-bar);
  margin: 0 1rem;
  border-bottom: 1px solid var(--page-border);
}

.ContactSearch__header {
  background: var(--background-contrast-grey);
  padding: 1rem 0;
}

.ContactSearch__form {
  display: flex;
  align-items: center;
}

.ContactSearch__input {
  font: var(--font-body-bold);
  flex: 1;
  margin-left: .5rem;
  padding: 0 .5rem;
  border-radius: 1rem;
}

.ContactSearchResults {
  list-style: none;
  margin-left: 2rem;
  width: fit-content;
  box-shadow: var(--list-contact-result-shadow);
}

.ContactSearchResult__name {

  a,
  button {

    &:hover,
    &:active,
    &:focus {
      background: var(--list-selected-bg);
    }
  }
}

.ContactSearchResult__no-contact a {
  margin-left: 1rem;
}

.ContactSearchResult__no-contact,
.ContactSearchResult__action {
  padding: .5rem 2rem;
  height: 5rem;
  background-image: none;
  display: flex;
  align-items: center;
}

.Contact__info {
  margin-bottom: 1rem;
}

.ContactSearchResult__no-contact,
.ContactSearchResult__action,
.Contact__name {
  font: var(--font-body-bold);
}

.Contact__info [class*="--missing"] {
  font-style: italic;
}

.ContactFormNew__actions {
  margin-left: auto;
  margin-right: auto;
  margin-block-end: 0;
  width: 40%;
}

.ContactForm p,
.ContactDetail__notes p {
  color: var(--text-format);
  margin-block-start: 0;
}

.ContactDetail__notes,
.ContactForm__notes {
  display: flex;
  justify-content: space-between;
}



.ContactNew__header,
.ContactEdit__header,
.ContactDetail__header {
  grid-area: header;

  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  padding: 2.5rem 2.5rem 1rem 2.5rem;
}

.Contacts__title,
.ContactNew__title,
.ContactEdit__title,
.ContactDetail__title {
  font: var(--font-subtitle);
  margin: 0;
}

.ContactDetail__actions {
  padding-left: 2.5rem;
  margin-block-end: 0;
}

.ContactDetail__info,
.ContactForm__actions,
.ContactForm {
  padding: 2.5rem;
}

.ContactForm__actions {
  display: flex;
  align-items: center;
  padding-top: 0;
  width: 100%;
  gap: .5rem;
}

.ContactForm__actions .cm-btn--danger {
  margin-right: auto;
}