.LegalLinks {
  list-style-type: none;
  font: var(--font-micro);
  gap: .5rem;
}

.LegalLinks > li {
  display: inline;
}
.LegalLinks > li + li:before {
  content: " | ";
}

.LegalNotice h3,
.LegalNotice p,
.LegalNotice ul {
  margin: 2rem 0;
}

.LegalNotice ul {
  margin-left: 3rem;
}

.LegalNotice h1 {
  margin-block-end: 0;
}

.LegalNotice__logo {
  width: 20%;
  height: auto;
  margin: 5rem 0 .5rem 1.5rem;
}

.LegalNotice__title {
  padding: 1.5rem 0 3rem 0;
  border-top: 1px solid var(--page-border);
  border-bottom: 1px solid var(--page-border);
}

.LegalNotice__subtitle {
  margin: 0;
}

.LegalNotice__header > li {
  flex: 2;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.LegalNoticePartner__logo {
  gap: 7rem !important; 
}

.LegalNoticeVersion__content {
  font: var(--font-body-italic);
  margin-top: .5rem;
}
