@import "variables";

.Page__Intro.cm-page {
  padding-bottom: 0;
}

.SiteIntro {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8rem 1fr;
  gap: 2rem;
}
.SiteIntro__logo {
  order: -1;
  height: 100%;
}

.LoginForm {
  --width-mid: 10;
  --width-huge: 8;
}
.LoginForm__action-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  justify-self: flex-end;
  > .cm-btn {
    width: auto !important;
  }
}
.LoginForm__forgot {
  --width-mid: 6;
  --width-large: 7;
}
.LoginForm__buttons {
  --width-mid: 6;
  --width-large: 5;
}

@media screen and (min-width: $width-mid) {
  .SiteIntro {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
  .SiteIntro__logo {
    order: inherit;
    max-width: 16rem;
  }
}

.SiteIntro__title {
  font: var(--font-hero);
}
.SiteIntro__text {
  font: var(--font-subtitle);
}
 