@import "variables";

.cm-tab-bar {
  max-height: var(--size-tab-bar);
  border-top: 1px solid var(--page-border);
  @media screen and (min-width: $width-large) {
    border-top: none;
    border-bottom: 1px solid var(--page-border);
  }
}

.cm-tab-bar nav {
  position: relative;
  padding: 0 .5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cm-tab-bar .TabBarButton--active.cm-btn.cm-btn--caption {
  background-size: 100% 5px;
}

// Hide caption on large screens
@media screen and (min-width: $width-large) {
  .cm-tab-bar .cm-small-only.cm-btn {
    display: none;
  }
  .cm-tab-bar .cm-btn.cm-btn--caption[class^=cm-icon-], 
  .cm-tab-bar .cm-btn.cm-btn--caption[class*=cm-icon-] {  
    overflow: hidden;
    max-height: 3rem;
    max-width: 2.5rem;
    padding: 1rem 2rem 2.25rem;
  }
}

// border on top on small screens
@media screen and (max-width: $width-large) {
  .cm-tab-bar .cm-btn.cm-btn--caption[class^=cm-icon-], 
  .cm-tab-bar .cm-btn.cm-btn--caption[class*=cm-icon-] {  
    gap: .125rem;
    :checked + &,
    &[class$=--active],
    &[class*=--active],
    &:hover,
    &:focus,
    &:active {
      background-position: 0 0;
    }
  }
}