@import "variables";

.TabBar {
  border-top: 1px solid var(--page-border);
}
.TabBar__radio {
  display: none;
}

.TabBar nav {
  max-height: var(--size-tab-bar);
  position: relative;
  padding: 0 .5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.TabBar .cm-btn {
  position: relative;
  top: -2px;
}
.TabBar :checked + .cm-btn.cm-btn--caption {
  background-size: 100% 5px;
}
@media screen and (min-width: $width-large) {
  .TabBar .cm-small-only.cm-btn {
    display: none;
  }
  .TabBar .cm-btn.cm-btn--caption[class^=cm-icon-], 
  .TabBar .cm-btn.cm-btn--caption[class*=cm-icon-] {  
    overflow: hidden;
    max-height: 2.5rem;
    max-width: 2.5rem;
    padding: 1rem 2rem .5rem;
  }
}