.Teams__header h1 {
  font: var(--font-hero);
}

.Teams__list {
  --gap: 2rem;
}

.TeamTile {
  --width-small: 12;
  --width-mid: 6;
}

.TeamTile__body [class^="cm-icon-"],
.TeamTile__body [class*="cm-icon-"] {
  margin-right: .5rem;
}

.Teams__actions {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-end;
}

.TeamDetails__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}

.TeamEdit__header,
.TeamShow__header {
  grid-area: header;
  
  background: var(--background-contrast-grey);
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  padding: 2.5rem;
}

.TeamEdit__title,
.TeamShow__title {
  font: var(--font-subtitle);
  font-weight: bold;
  margin: 0;
}

.TeamEdit__body,
.TeamShow__members-list {
  padding: 2.5rem;
  padding-top: 0;
  overflow-y: scroll;
  height: 90%;
  margin-bottom: 50px;
}

.TeamShow__actions {
  padding: 2.5rem 0rem;
  border-top: 1px solid var(--list-border);
}