@import "variables";

.Teams__list {
  --gap: 2rem;
}

.TeamTile {
  --width-small: 12;
  --width-mid: 6;
}

.TeamTile__body [class^="cm-icon-"],
.TeamTile__body [class*="cm-icon-"] {
  margin-right: .5rem;
}

.Teams__actions {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-end;
}

.TeamDetails__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}

.TeamShow__body,
.TeamEdit__body {
  height: calc(var(--size-viewer) - var(--size-tab-bar) * 2);

  @media screen and (min-width: $width-large) {
    height: calc(var(--size-viewer) - var(--size-tab-bar));
  }
}

.TeamShow__body {
  display: grid;
  grid-template-rows: min-content 1fr;
}


.TeamShow__members-list {
  overflow-y: auto;
  padding-bottom: 3.5rem;
}

.TeamShow__members-list .Membership {
  margin-inline: 3.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--page-border);
}

.TeamShow__actions {
  padding: 1rem 3.5rem;
  border-bottom: 1px solid var(--page-border);
}

.TeamEdit__body {
  padding: 2.5rem;
  overflow-y: scroll;
}

.TeamEdit__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.TeamForm__textarea {
  height: auto;
}