.UIPage section+section {
  border-top: 1px solid var(--page-border);
  padding: 1rem 0;
  margin: 1rem 0;
}

.UIPage {
  padding-bottom: 3rem;
  position: relative;
}

.UIPage__toc {
  --width-all: 2;
}

.UIPage__toc-list {
  top: 4rem;
  position: sticky;
  list-style: none;

  li {
    line-height: 2rem;
  }
}

.UIPage__examples {
  --width-all: 10;
}

.UIPage__examples section.cm-container {
  margin-left: 0;
  margin-bottom: 2rem;
}

.UIPage h1 {
  margin-top: 2rem;
  font: var(--font-subtitle);
  width: 100%;
}

.UIPage h2 {
  font-size: 1rem;
  margin: 1rem 0 0;
}

.UIList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.UIList__sublist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.UI__rect {
  border: 1px solid rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  max-height: 8rem;
}