@import "variables";

.UserForm {
  --gap: 1rem;
}

.UserRow__actionsGroup {
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.UserRow__actionsGroup>a+a {
  margin-left: .5rem;
}

.User {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.User__created_at {
  margin-bottom: 1em;
}

.User__name {
  font-weight: bold;
}

.User__email {
  text-decoration: underline;
}

.UserForm__actions {
  font: var(--font-small);
  --gap: 1rem;
}

@media screen and (min-width: $width-large) {

  .UserForm__name {
    --width: 12;
  }

  .UserForm__phone,
  .UserForm__email,
  .UserForm__remove,
  .UserForm__submit,
  .UserForm__cancel-invitation,
  .UserForm__cancel {
    --width: 6;
  }
}