@import "variables";

.Viewer {
  flex: 1;
  max-height: var(--size-viewer);
  background-color: var(--viewer-bg);

  display: grid;
  grid-template-rows: 1fr var(--size-tab-bar);
  grid-template-areas:
    "main"
    "tabs";

  @media screen and (min-width: $width-large) {
    grid-template-rows: var(--size-tab-bar) 1fr;
    grid-template-columns: minmax(25rem, 1fr) minmax(30rem, 2fr) minmax(25rem, 1fr);
    grid-template-areas:
      "nav content user"
      "nav content secondary";
  }
}

.ViewerNavigation {
  position: relative;
  overflow: hidden;
  grid-area: main;
  background-color: var(--navigation-bg);

  @media screen and (min-width: $width-large) {
    grid-area: nav;
    border-right: 1px solid var(--list-border);
  }
}

.ViewerPrimary {
  grid-area: main;
  background-color: var(--primary-bg);

  @media screen and (min-width: $width-large) {
    grid-area: content;
  }
}

.ViewerUserMenu {
  display: none;
  grid-area: main;

  @media screen and (min-width: $width-large) {
    display: inherit;
    grid-area: user;
    border-left: 1px solid var(--list-border);
    border-bottom: 1px solid var(--list-border);
  }
}

.ViewerSecondary {
  display: none;
  grid-area: main;

  @media screen and (min-width: $width-large) {
    display: inherit;
    grid-area: secondary;
    border-left: 1px solid var(--list-border);
  }
}

.TabBar {
  grid-area: tabs;
  position: relative;
  z-index: 100;

  @media screen and (min-width: $width-large) {
    display: none;
  }
}

.ViewerDetail__TabBar {
  display: none;

  @media screen and (min-width: $width-large) {
    display: inherit;
  }
}

@media screen and (max-width: ($width-large - 1)) {

  // Defaults to navigation for home and conversations with details closed
  .ViewerPrimary,
  .ViewerSecondary {
    display: none;
  }

  .Viewer--detail-visible,
  .Viewer--tab-contacts,
  .Viewer--tab-team,
  .Viewer--tab-edit_team {
    .ViewerNavigation {
      display: none;
    }

    .ViewerPrimary {
      display: inherit;
    }

    .ViewerSecondary {
      display: none;
    }
  }

  .Viewer--tab-presets,
  .Viewer--tab-inbox {
    .ViewerNavigation {
      display: none;
    }

    .ViewerPrimary {
      display: none;
    }

    .ViewerSecondary {
      display: inherit;
    }
  }

  .Viewer--tab-home {
    .ViewerNavigation {
      display: inherit;
    }

    .ViewerPrimary {
      display: none;
    }

    .ViewerSecondary {
      display: none;
    }
  }
}