@import "variables";

.Viewer {
  flex: 1;
  height: var(--size-viewer);

  display: grid;
  grid-template-rows: auto var(--size-tab-bar);
  grid-template-areas: 
    "main"
    "tabs";
  @media screen and (min-width: $width-large) {
    grid-template-columns: minmax(25rem, 1fr) minmax(30rem, 2fr) minmax(25rem, 1fr);
    grid-template-areas: 
      "left work right"
      "left tabs right";
  }
}

.ConversationSidebar,
.ConversationDetail,
.Contacts,
.Presets,
.Inbox {
  position: relative;
}

.Viewer--tab-home {
  .ConversationSidebar { z-index: 10; }
}
.Viewer--tab-conversations {
  .ConversationDetail { z-index: 10; }
  .Contacts { display: none; }
}
.Viewer--tab-contacts {
  .Contacts { z-index: 10; }
  .ConversationDetail { display: none; }
}
.Viewer--tab-presets {
  .Presets { z-index: 10; }
  .Inbox { display: none; }
}
.Viewer--tab-inbox {
  .Inbox { z-index: 10; }
  .Presets { display: none; }
}

.ConversationSidebar {
  grid-area: main;
  @media screen and (min-width: $width-large) {
    grid-area: left;
    border-right: 1px solid var(--list-border);
  }
}
.ConversationDetail, .Presets {
  z-index: 5;
}
.ConversationDetail,
.Contacts {
  grid-area: main;
  @media screen and (min-width: $width-large) {
    grid-area: work;
  }
}
.Presets,
.Inbox {
  grid-area: main;
  @media screen and (min-width: $width-large) {
    grid-area: right;
    border-left: 1px solid var(--list-border);
  }
}
.TabBar {
  grid-area: tabs;
  position: relative;
  z-index: 100;
}
