@import "settings";

.Page {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
  width: 100%;
  @media (min-width: 48rem) {
    margin-top: 3.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    &:has(.Block ~ .Block) {
      padding: 0 2rem;
      .Block {
        max-width: 100%;
      }
    }
  }
}

.NavMenu + .Page {
  margin-top: 0;
}

.Block {
  background: var(--background-alt-grey);
  width: 100%;
  flex: 1;
  justify-self: stretch;
  padding: 3rem;
  margin: 0 auto;
  @include container;
}

.Modal__body:has(.Block) {
  background: var(--background-alt-grey);
}
