.Block {
  background: var(--background-alt-grey) !important;
  width: 100%;
  margin: 2.5rem auto;
  padding: 3rem;
  @media (min-width: 48rem) {
    max-width: calc(100% * 2/3);
    margin: 3.5rem auto;
  }
  @media (min-width: 62rem) {
    max-width: calc(100% / 2);
  }
  @media (min-width: 72rem) {
    // reproduce fr-container
    max-width: calc(75rem / 2);
  }
}