@import "settings";

.Viewer {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: var(--size-viewer);
}
.Viewer:has(.ConversationDetail[src]) {
  grid-template-columns: 0 1fr;
  @media (min-width: 40rem) {
    grid-template-columns: auto 1fr;
  }
}


///
/// Conversation list
///

.ConversationList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--border-default-grey);
  overflow: scroll;
}

@media (min-width: 40rem) {
  .ConversationList {
    width: 25rem;
  }
}

///
/// Conversation list items
///

.Conversation {
  border-bottom: 1px solid var(--border-default-grey);
}
.Conversation__link {
  padding: .5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "name time"
    "sub sub";
  &:any-link {
    text-decoration: none;
    background: unset;
  }
}
.Conversation__contact {
  grid-area: name;
  font-weight: bold;
  @include truncate;
}
.Conversation__latest {
  grid-area: time;
  text-align: right;
  font-size: $fs-small;
}
.Conversation__sub {
  grid-area: sub;
  @include truncate;
}