@import "settings";

///
/// Conversation detail view
///
.ConversationDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  // max-width: 30rem;
  max-height: var(--size-viewer);
  margin: 0;
}

.ConversationDetail__header {
  background: var(--background-contrast-grey);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.ConversationDetail__title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.ConversationDetail__footer {
  // background: var(--background-contrast-blue-france);
  border-top: 1px solid var(--border-default-grey);
  padding: 2rem;
}

///
/// New message form
///
.MessageForm {}
.MessageForm__input-group {
  display: flex;
  align-items: flex-end;
}
.MessageForm__input-group .MessageForm__field {
  flex: 1;
  margin-bottom: 0;
}
.MessageForm__button {
  margin-left: 1rem;
}