@font-face {
  font-family: OpenSans;
  src: url("OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans;
  font-style: italic;
  src: url("OpenSans-Italic.ttf");
}
@font-face {
  font-family: OpenSans;
  font-weight: bold;
  src: url("OpenSans-Bold.ttf");
}
