// DEBUG
// .ConversationDetail {
//   background: lightblue;
// }
// .MessageList {
//   background: gray;
// }
// .Message {
//   border: 1px solid purple;
// }

///
/// Message list and message bubbles.
///
.MessageList {
  width: 100%;
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: scroll;
}

.Message {
  width: 50%;
  max-width: 66%;
  list-style: none;
  margin: .375rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &.Message--inbound {
    padding-right: 2rem;
  }

  &.Message--outbound {
    padding-left: 2rem;
  }
}

.Message__content {
  border-radius: .5rem;
  padding: .625rem 1.25rem;
  width: 100%;

  .Message--inbound & {
    background: var(--color-message-inbound);
    border-top-left-radius: 0;
  }

  .Message--outbound & {
    background: var(--color-message-outbound);
    border-top-right-radius: 0;
  }
}

.Message__sender,
.Message__metadata {
  font-style: italic;
  margin: .25rem .5rem 0 .5rem;
  text-align: right;
  color: var(--color-text-secondary);
}

.Message__metadata>* {
  display: inline;
}

.Message--inbound {
  align-self: flex-start;
}

.Message--inbound .Message__sender,
.Message--inbound .Message__metadata {
  text-align: right;
}

.Message__sender,
.Message__status {
  display: none;
}

.Message--submitted,
.Message--rejected,
.Message--undeliverable {
  .Message__status {
    display: inline;

    &::before {
      content: " · ";
    }
  }
}