///
/// New message form
///
.MessageForm {}
.MessageForm__input-group {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr auto;
}
.MessageForm__input-group .MessageForm__field {
  flex: 1;
  margin-bottom: 0;
}
.MessageForm__button {
  margin-left: 1rem;
}
.MessageForm__character_count {
  margin-top: .5rem;
  min-height: 1.25rem; // cm-hint-text line-height
  grid-column: 1/-1;
}
