.fr-btn {
  background-color: var(--action-bg) !important;
  color: var(--action-text);
  border-radius: .75rem;
}

.fr-btn--secondary {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 1px var(--action-border);
  color: var(--action-secondary-text);
}