// $v: .25rem;
// $w: .5rem;
// 
// $v1: $v * 1;
// $v2: $v * 2;
// $v3: $v * 3;
// $v4: $v * 4;
// $v5: $v * 5;
// $v6: $v * 6;
// $v7: $v * 7;
// $v8: $v * 8;
// 
// $w1: $w * 1;
// $w2: $w * 2;
// $w3: $w * 3;
// $w4: $w * 4;
// $w5: $w * 5;
// $w6: $w * 6;
// $w7: $w * 7;
// $w8: $w * 8;

// Color
$col-line: rgba(0, 0, 0, .5);

// Font-size
$fs-small: .75rem;
$fs-normal: 1rem;



@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
