// Font-size
$fs-small: .75rem;
$fs-normal: 1rem;

// Colors
html {
  --color-message-outbound: #CECEFC;
  --color-message-inbound: #EDEDED;
  --color-text-secondary: #606060;
}

@mixin container {
  @media (min-width: 62rem) {
    max-width: 42rem;
  }
  @media (min-width: 72rem) {
    max-width: 54rem;
  }
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
