// Font-size
$fs-small: .75rem;
$fs-normal: 1rem;


@mixin container {
  @media (min-width: 48rem) {
    max-width: calc(100% * 2/3);
  }
  @media (min-width: 62rem) {
    max-width: calc(100% / 2);
  }
  @media (min-width: 72rem) {
    // reproduce fr-container
    max-width: calc(75rem / 2);
  }
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
