.Block__index-team {
  
}
.Block__edit-team + .Block__team-members {
  flex: .5;
}

.Teams__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.Teams__list--mini .TeamTile {
  .TeamTile__body {
    padding: 0;
  }
  .TeamTile__info {
    display: none;
  }
  .TeamTile__actions {
    margin-top: 1rem;
  }
}

.Teams__actions {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-end;
}

.TeamDetails__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}

.Team__members-list {
}

.Membership {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TeamTile {
  box-sizing: border-box;
  &.fr-enlarge-link {
    .cm-btn:hover,
    .cm-btn:active {
      background: var(--hover-tint);
    }
    .cm-btn::before {
      content: none;
    }
  }
}

.TeamTile .Team__name {
  font-weight: bold;
  a.Team__name-link::after { // a use case for !important if there ever was one, ¯\_(ツ)_/¯
    content: none;
  }
}

.TeamTile .TeamTile__body {
  height: 100%;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TeamTile__actions {
  order: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  margin: auto 0 0 0;
  padding: 0; 
  gap: .5rem;
}
