$width-small: 36rem;
$width-mid: 48rem;
$width-large: 62rem;
$width-huge: 78rem;

@mixin container {
  max-width: 100%;
  @media (min-width: 62rem) {
    max-width: 42rem;
  }
  @media (min-width: 72rem) {
    max-width: 54rem;
  }
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
