
.Viewer {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: var(--size-viewer);
  @media (min-width: 40rem) {
    .ConversationSidebar {
      border-right-width: 1px;
    }
  }
}

@mixin show-detail {
  grid-template-columns: 0 1fr;
  @media (min-width: 40rem) {
    grid-template-columns: auto 1fr;
  }    
}
// Not JS dependent, but low browser support
.Viewer:has(.ConversationDetail > *) {
  @include show-detail();
}
.Viewer--detail-visible {
  @include show-detail();
}