:root {
  --size-header: 3rem;
  --size-viewer: calc(100vh - var(--size-header));
}

@supports (height: 100dvh) {
  :root {
    --size-viewer: calc(100dvh - var(--size-header));
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-height: 100dvh;
  background: var(--background-default-grey);
}
.Header,
.Footer {
  
}
.Main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.Page {}

.FlashContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.Flash {
  width: 66%;
  padding: .5rem;
  border-radius: .25rem;
  box-shadow: var(--overlap-shadow);
  margin: 1rem auto;
}
.Flash__notice {
  background: var(--background-contrast-info);
}
.Flash__alert {
  background: var(--background-contrast-warning);
}
