<header class="Header">
  <h1 class="Header__title">
    <%= link_to "Court-message", root_path %>
  </h1>
  <nav class="Header__menu">
    <ul class="Header__menu-items">
      <% if user_signed_in? %>
        <li class="Header__menu-item">
          <%= button_to t(:sign_out), destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>