<header class="Header">
  <h1 class="Header__title">Court-message</h1>
  <nav class="Header__menu">
    <ul class="Header__menu-items">
      <li class="Header__menu-item">Menu</li>
    </ul>
  </nav>
</header>