<ul class="LegalLinks">
  <li><%= link_to "Mentions légales", legal_notice_path %></li>
  <li><%= link_to "Conditions générales d’utilisation", terms_and_conditions_path %></li>
  <li><%= link_to "Données personnelles", "javascript:void(0)" %></li>
</ul>