<ul class="LegalLinks">
  <li><%= link_to "Mentions légales", "javascript:void(0)" %></li>
  <li><%= link_to "Conditions générales d’utilisation", legal_notice_path %></li>
  <li><%= link_to "Données personnelles", "javascript:void(0)" %></li>
</ul>