<div class="NavMenu">
  <h1 class="Menu__Title">
    <%= link_to root_path, class: "cm-btn cm-btn--link" do %>
      <i class="cm-icon-home cm-icon--inverted"></i>
      <%= t(:site_title) %>
    <% end %>
  </h1>
  <%= render partial: "user_menu" %>
</div>
