<% if signed_in? %>
  <details class="UserMenu cm-dropdown">
    <summary class="UserMenu__button cm-dropdown__btn">
      <%= Current.user.name %>
      <i class="cm-icon-chevron-down cm-icon--sm"></i>
    </summary>
    <div class="UserMenu__content cm-menu cm-dropdown__content">
      <%= render partial: "user_menu_items" %>
    </div>
  </details>
<% end %>